name: flask-helloworld
on:
    push:
        brancher: [master]

jobs:
    docker:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v2  

            - name: Login docker Hub
              uses: docker/login-action@v1
              with:
                username: ${{ secrets.DOCKERHUB_USERNAME }} 
                password: ${{ secrets.DOCKERHUB_ASSEST_TOKEN }} 

            - name: Setup Docker Buildx
              uses: docker/setup-buildx-action@v1
              id: Buildx

            - name: Build an Push Docker Image
              uses: docker/setup-buildx-action@v1
              id: bulldx

            - name: Build and Push Docker Image
              uses: docker/build-push-action@v2

            - name: Build an Push Docker Image
              uses: docker/build-push-action@v2
              id: docker_build
              with:
                context: ./
                file: ./Dockerfile
                builder: ${{steps.buildx.outputs.name}}
                push: true
                tags: ${{ secrets.DOCKERHUB_USERNAME }}/nodejs
            - name: Verify
              run: echo ${{ steps.docker_build.outputs.digest }}
            - name: SSH deploy
              uses: appleboy/ssh-action@master
              with:
                host: ${{ secrets.SSH_HOST }} 
                username: ${{ secrets.SSH_USER }}
                key: ${{ secrets.SSH_PRIVATE_KEY }}
              script: |
                whoami
                ls -al